###
SHiPS Specific
###

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
out/

# Visual Studio 2015 cache/options directory
.vs/

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUNIT
*.VisualState.xml
test/*[Tt]est[Rr]esults.xml
test/automation/*[Tt]est[Rr]esults.xml
test/TestDir
test/TestFile*

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Auto generated
src/dotnet-install.ps1
tools/install-powershell.ps1
packages/
